In [455]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [456]:
df = pd.read_csv("../dataset/train_data.csv")

In [457]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [458]:
df = df.drop(columns=['Loan_ID'])

In [459]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [460]:
df = df.reset_index(drop=True)

In [461]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [462]:
df.shape

(614, 12)

In [463]:
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse_output=False)

In [464]:
encoded = ohe.fit_transform(df[['Gender']])
encoded_df = pd.DataFrame(encoded, columns=ohe.get_feature_names_out(['Gender']), index=df.index)
df = pd.concat([df, encoded_df], axis=1)
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Gender_Female,Gender_Male,Gender_nan
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y,0.0,1.0,0.0
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,0.0,1.0,0.0
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,0.0,1.0,0.0
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,0.0,1.0,0.0
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,0.0,1.0,0.0

In [465]:
df.drop(columns=['Gender_nan'], inplace=True)

In [466]:
df.drop(columns=['Gender'], inplace=True)

In [467]:
df.head()

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Gender_Female,Gender_Male
0,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y,0.0,1.0
1,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,0.0,1.0
2,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,0.0,1.0
3,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,0.0,1.0
4,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,0.0,1.0

In [468]:
encoded = ohe.fit_transform(df[['Married']])
encoded_df = pd.DataFrame(encoded, columns=ohe.get_feature_names_out(['Married']), index=df.index)
df = pd.concat([df, encoded_df], axis=1)
df.head()

,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes,Married_nan
0,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0,0.0
1,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,0.0,1.0,0.0,1.0,0.0
2,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0,0.0
3,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0,0.0
4,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0,0.0

In [469]:
df.drop(columns=['Married_nan', 'Married'], inplace=True)
df.head()

,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes
0,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0
1,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,0.0,1.0,0.0,1.0
2,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0
3,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0
4,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0

In [470]:
df['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [471]:
encoded = ohe.fit_transform(df[['Education']])
encoded_df = pd.DataFrame(encoded, columns=ohe.get_feature_names_out(['Education']), index=df.index)
df = pd.concat([df, encoded_df], axis=1)
df.head()

,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate
0,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0,1.0,0.0
1,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N,0.0,1.0,0.0,1.0,1.0,0.0
2,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0,1.0,0.0
3,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0,0.0,1.0
4,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0,1.0,0.0

In [472]:
df.drop(columns=['Education'], inplace=True)
df.head()

,Dependents,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate
0,0,No,5849,0.0,NaN,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0,1.0,0.0
1,1,No,4583,1508.0,128.0,360.0,1.0,Rural,N,0.0,1.0,0.0,1.0,1.0,0.0
2,0,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0,1.0,0.0
3,0,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0,0.0,1.0
4,0,No,6000,0.0,141.0,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0,1.0,0.0

In [473]:
df['Self_Employed'].unique()

array(['No', 'Yes', nan], dtype=object)

In [474]:
df['Self_Employed'].value_counts()

Self_Employed
No     500
Yes     82
Name: count, dtype: int64

In [475]:
df['Self_Employed'].isnull().sum()

np.int64(32)

In [476]:
df['Self_Employed'] = df['Self_Employed'].fillna(df['Self_Employed'].mode()[0])

In [477]:
df.head()

,Dependents,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate
0,0,No,5849,0.0,NaN,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0,1.0,0.0
1,1,No,4583,1508.0,128.0,360.0,1.0,Rural,N,0.0,1.0,0.0,1.0,1.0,0.0
2,0,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0,1.0,0.0
3,0,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0,0.0,1.0
4,0,No,6000,0.0,141.0,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0,1.0,0.0

In [478]:
df['Self_Employed'].value_counts()

Self_Employed
No     532
Yes     82
Name: count, dtype: int64

In [479]:
from sklearn.preprocessing import LabelEncoder
lbe = LabelEncoder()
df['Self_Employed_encoded'] = lbe.fit_transform(df['Self_Employed'])

In [480]:
df.head()

,Dependents,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_encoded
0,0,No,5849,0.0,NaN,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0,1.0,0.0,0
1,1,No,4583,1508.0,128.0,360.0,1.0,Rural,N,0.0,1.0,0.0,1.0,1.0,0.0,0
2,0,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0,1.0,0.0,1
3,0,No,2583,2358.0,120.0,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0,0.0,1.0,0
4,0,No,6000,0.0,141.0,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0,1.0,0.0,0

In [481]:
df.drop(columns=['Self_Employed'], inplace=True)
df.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_encoded
0,0,5849,0.0,NaN,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0,1.0,0.0,0
1,1,4583,1508.0,128.0,360.0,1.0,Rural,N,0.0,1.0,0.0,1.0,1.0,0.0,0
2,0,3000,0.0,66.0,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0,1.0,0.0,1
3,0,2583,2358.0,120.0,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0,0.0,1.0,0
4,0,6000,0.0,141.0,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0,1.0,0.0,0

In [482]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Dependents              599 non-null    object
 1   ApplicantIncome         614 non-null    int64
 2   CoapplicantIncome       614 non-null    float64
 3   LoanAmount              592 non-null    float64
 4   Loan_Amount_Term        600 non-null    float64
 5   Credit_History          564 non-null    float64
 6   Property_Area           614 non-null    object
 7   Loan_Status             614 non-null    object
 8   Gender_Female           614 non-null    float64
 9   Gender_Male             614 non-null    float64
 10  Married_No              614 non-null    float64
 11  Married_Yes             614 non-null    float64
 12  Education_Graduate      614 non-null    float64
 13  Education_Not Graduate  614 non-null    float64
 14  Self_Employed_encoded   614 non-null    int64
dtypes: float64(10), int64(2), object(3)
memory usage: 72.1+ KB

In [483]:
df['Dependents'].unique()

array(['0', '1', '2', '3+', nan], dtype=object)

In [484]:
df['Dependents'] = df['Dependents'].fillna(df['Dependents'].mode()[0])

In [485]:
df['Dependents'].unique()

array(['0', '1', '2', '3+'], dtype=object)

In [486]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Dependents              614 non-null    object
 1   ApplicantIncome         614 non-null    int64
 2   CoapplicantIncome       614 non-null    float64
 3   LoanAmount              592 non-null    float64
 4   Loan_Amount_Term        600 non-null    float64
 5   Credit_History          564 non-null    float64
 6   Property_Area           614 non-null    object
 7   Loan_Status             614 non-null    object
 8   Gender_Female           614 non-null    float64
 9   Gender_Male             614 non-null    float64
 10  Married_No              614 non-null    float64
 11  Married_Yes             614 non-null    float64
 12  Education_Graduate      614 non-null    float64
 13  Education_Not Graduate  614 non-null    float64
 14  Self_Employed_encoded   614 non-null    int64
dtypes: float64(10), int64(2), object(3)
memory usage: 72.1+ KB

In [487]:
df['LoanAmount'].unique()

array([ nan, 128.,  66., 120., 141., 267.,  95., 158., 168., 349.,  70.,
       109., 200., 114.,  17., 125., 100.,  76., 133., 115., 104., 315.,
       116., 112., 151., 191., 122., 110.,  35., 201.,  74., 106., 320.,
       144., 184.,  80.,  47.,  75., 134.,  96.,  88.,  44., 286.,  97.,
       135., 180.,  99., 165., 258., 126., 312., 136., 172.,  81., 187.,
       113., 176., 130., 111., 167., 265.,  50., 210., 175., 131., 188.,
        25., 137., 160., 225., 216.,  94., 139., 152., 118., 185., 154.,
        85., 259., 194.,  93., 370., 182., 650., 102., 290.,  84., 242.,
       129.,  30., 244., 600., 255.,  98., 275., 121.,  63., 700.,  87.,
       101., 495.,  67.,  73., 260., 108.,  58.,  48., 164., 170.,  83.,
        90., 166., 124.,  55.,  59., 127., 214., 240.,  72.,  60., 138.,
        42., 280., 140., 155., 123., 279., 192., 304., 330., 150., 207.,
       436.,  78.,  54.,  89., 143., 105., 132., 480.,  56., 159., 300.,
       376., 117.,  71., 490., 173.,  46., 228., 308., 236., 570., 380.,
       296., 156., 103.,  45.,  65.,  53., 360.,  62., 218., 178., 239.,
       405., 148., 190., 149., 153., 162., 230.,  86., 234., 246., 500.,
       186., 119., 107., 209., 208., 243.,  40., 250., 311., 400., 161.,
       196., 324., 157., 145., 181.,  26., 211.,   9., 205.,  36.,  61.,
       146., 292., 142., 350., 496., 253.])

In [488]:
df['LoanAmount'].value_counts()

LoanAmount
120.0    20
110.0    17
100.0    15
187.0    12
160.0    12
         ..
292.0     1
142.0     1
350.0     1
496.0     1
253.0     1
Name: count, Length: 203, dtype: int64

In [489]:
df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount'].mean())

In [490]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Dependents              614 non-null    object
 1   ApplicantIncome         614 non-null    int64
 2   CoapplicantIncome       614 non-null    float64
 3   LoanAmount              614 non-null    float64
 4   Loan_Amount_Term        600 non-null    float64
 5   Credit_History          564 non-null    float64
 6   Property_Area           614 non-null    object
 7   Loan_Status             614 non-null    object
 8   Gender_Female           614 non-null    float64
 9   Gender_Male             614 non-null    float64
 10  Married_No              614 non-null    float64
 11  Married_Yes             614 non-null    float64
 12  Education_Graduate      614 non-null    float64
 13  Education_Not Graduate  614 non-null    float64
 14  Self_Employed_encoded   614 non-null    int64
dtypes: float64(10), int64(2), object(3)
memory usage: 72.1+ KB

In [491]:
df['Loan_Amount_Term'].value_counts()

Loan_Amount_Term
360.0    512
180.0     44
480.0     15
300.0     13
84.0       4
240.0      4
120.0      3
60.0       2
36.0       2
12.0       1
Name: count, dtype: int64

In [492]:
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0])

In [493]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Dependents              614 non-null    object
 1   ApplicantIncome         614 non-null    int64
 2   CoapplicantIncome       614 non-null    float64
 3   LoanAmount              614 non-null    float64
 4   Loan_Amount_Term        614 non-null    float64
 5   Credit_History          564 non-null    float64
 6   Property_Area           614 non-null    object
 7   Loan_Status             614 non-null    object
 8   Gender_Female           614 non-null    float64
 9   Gender_Male             614 non-null    float64
 10  Married_No              614 non-null    float64
 11  Married_Yes             614 non-null    float64
 12  Education_Graduate      614 non-null    float64
 13  Education_Not Graduate  614 non-null    float64
 14  Self_Employed_encoded   614 non-null    int64
dtypes: float64(10), int64(2), object(3)
memory usage: 72.1+ KB

In [494]:
df['Credit_History'].unique()

array([ 1.,  0., nan])

In [495]:
df['Credit_History'].value_counts()

Credit_History
1.0    475
0.0     89
Name: count, dtype: int64

In [496]:
df['Credit_History'] = df['Credit_History'].fillna(df['Credit_History'].mode()[0])

In [497]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Dependents              614 non-null    object
 1   ApplicantIncome         614 non-null    int64
 2   CoapplicantIncome       614 non-null    float64
 3   LoanAmount              614 non-null    float64
 4   Loan_Amount_Term        614 non-null    float64
 5   Credit_History          614 non-null    float64
 6   Property_Area           614 non-null    object
 7   Loan_Status             614 non-null    object
 8   Gender_Female           614 non-null    float64
 9   Gender_Male             614 non-null    float64
 10  Married_No              614 non-null    float64
 11  Married_Yes             614 non-null    float64
 12  Education_Graduate      614 non-null    float64
 13  Education_Not Graduate  614 non-null    float64
 14  Self_Employed_encoded   614 non-null    int64
dtypes: float64(10), int64(2), object(3)
memory usage: 72.1+ KB

In [498]:
df.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_encoded
0,0,5849,0.0,146.412162,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0,1.0,0.0,0
1,1,4583,1508.0,128.000000,360.0,1.0,Rural,N,0.0,1.0,0.0,1.0,1.0,0.0,0
2,0,3000,0.0,66.000000,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0,1.0,0.0,1
3,0,2583,2358.0,120.000000,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0,0.0,1.0,0
4,0,6000,0.0,141.000000,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0,1.0,0.0,0

In [499]:
df['CoapplicantIncome'].value_counts()

CoapplicantIncome
0.0       273
1666.0      5
2083.0      5
2500.0      5
1625.0      3
         ...
2232.0      1
2739.0      1
2210.0      1
461.0       1
2336.0      1
Name: count, Length: 287, dtype: int64

In [500]:
df.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_encoded
0,0,5849,0.0,146.412162,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0,1.0,0.0,0
1,1,4583,1508.0,128.000000,360.0,1.0,Rural,N,0.0,1.0,0.0,1.0,1.0,0.0,0
2,0,3000,0.0,66.000000,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0,1.0,0.0,1
3,0,2583,2358.0,120.000000,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0,0.0,1.0,0
4,0,6000,0.0,141.000000,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0,1.0,0.0,0

In [501]:
df['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [502]:
ohe = OneHotEncoder(sparse_output=False)

In [503]:
encoded = ohe.fit_transform(df[['Property_Area']])
encoded_df = pd.DataFrame(encoded, columns=ohe.get_feature_names_out(['Property_Area']), index=df.index)
df = pd.concat([df, encoded_df], axis=1)
df.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_encoded,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0,5849,0.0,146.412162,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0,1.0,0.0,0,0.0,0.0,1.0
1,1,4583,1508.0,128.000000,360.0,1.0,Rural,N,0.0,1.0,0.0,1.0,1.0,0.0,0,1.0,0.0,0.0
2,0,3000,0.0,66.000000,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0,1.0,0.0,1,0.0,0.0,1.0
3,0,2583,2358.0,120.000000,360.0,1.0,Urban,Y,0.0,1.0,0.0,1.0,0.0,1.0,0,0.0,0.0,1.0
4,0,6000,0.0,141.000000,360.0,1.0,Urban,Y,0.0,1.0,1.0,0.0,1.0,0.0,0,0.0,0.0,1.0

In [504]:
df = df.drop(columns=['Property_Area'])

In [505]:
df.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_encoded,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0,5849,0.0,146.412162,360.0,1.0,Y,0.0,1.0,1.0,0.0,1.0,0.0,0,0.0,0.0,1.0
1,1,4583,1508.0,128.000000,360.0,1.0,N,0.0,1.0,0.0,1.0,1.0,0.0,0,1.0,0.0,0.0
2,0,3000,0.0,66.000000,360.0,1.0,Y,0.0,1.0,0.0,1.0,1.0,0.0,1,0.0,0.0,1.0
3,0,2583,2358.0,120.000000,360.0,1.0,Y,0.0,1.0,0.0,1.0,0.0,1.0,0,0.0,0.0,1.0
4,0,6000,0.0,141.000000,360.0,1.0,Y,0.0,1.0,1.0,0.0,1.0,0.0,0,0.0,0.0,1.0

In [506]:
df['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [507]:
df['Loan_Status_encoded'] = lbe.fit_transform(df['Loan_Status'])

In [508]:
df.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Loan_Status,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_encoded,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_encoded
0,0,5849,0.0,146.412162,360.0,1.0,Y,0.0,1.0,1.0,0.0,1.0,0.0,0,0.0,0.0,1.0,1
1,1,4583,1508.0,128.000000,360.0,1.0,N,0.0,1.0,0.0,1.0,1.0,0.0,0,1.0,0.0,0.0,0
2,0,3000,0.0,66.000000,360.0,1.0,Y,0.0,1.0,0.0,1.0,1.0,0.0,1,0.0,0.0,1.0,1
3,0,2583,2358.0,120.000000,360.0,1.0,Y,0.0,1.0,0.0,1.0,0.0,1.0,0,0.0,0.0,1.0,1
4,0,6000,0.0,141.000000,360.0,1.0,Y,0.0,1.0,1.0,0.0,1.0,0.0,0,0.0,0.0,1.0,1

In [509]:
df.drop(columns=['Loan_Status'], inplace=True)

In [510]:
df.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_encoded,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_encoded
0,0,5849,0.0,146.412162,360.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0,0.0,0.0,1.0,1
1,1,4583,1508.0,128.000000,360.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0,1.0,0.0,0.0,0
2,0,3000,0.0,66.000000,360.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1,0.0,0.0,1.0,1
3,0,2583,2358.0,120.000000,360.0,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0,0.0,0.0,1.0,1
4,0,6000,0.0,141.000000,360.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0,0.0,0.0,1.0,1

In [511]:
print(df.columns)

Index(['Dependents', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Gender_Female', 'Gender_Male',
       'Married_No', 'Married_Yes', 'Education_Graduate',
       'Education_Not Graduate', 'Self_Employed_encoded',
       'Property_Area_Rural', 'Property_Area_Semiurban', 'Property_Area_Urban',
       'Loan_Status_encoded'],
      dtype='object')

In [512]:
df['Dependents'] = df['Dependents'].replace('3+', ).astype(int)

C:\Users\Asus\AppData\Local\Temp\ipykernel_32208\224734230.py:1: FutureWarning: Series.replace without 'value' and with non-dict-like 'to_replace' is deprecated and will raise in a future version. Explicitly specify the new values instead.
  df['Dependents'] = df['Dependents'].replace('3+', ).astype(int)

## Model Training

In [513]:
X = df.drop(columns=['Loan_Status_encoded'])
y = df['Loan_Status_encoded']

In [514]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [515]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [516]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [517]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import AdaBoostClassifier

In [518]:
models = {
    "Logistic Regression": LogisticRegression(max_iter=1000),
    "SVC": SVC(),
    "DecisionTreeClassifier": DecisionTreeClassifier(),
    "RandomForestClassifier": RandomForestClassifier(),
    "GaussianNB": GaussianNB(),
    "BernoulliNB": BernoulliNB(),
    "KNeighborsClassifier": KNeighborsClassifier(),
    "AdaBoostClassifier": AdaBoostClassifier()
}

In [519]:
from sklearn.metrics import precision_score, recall_score, f1_score

In [520]:
for model in models.values():
    model.fit(X_train, y_train)

    y_pred = model.predict(X_test)

    print("---------Model evaluator---------")
    print(f"metrics for {model}")

    print("precision_score: ", precision_score(y_test, y_pred))
    print("recall_score: ", recall_score(y_test, y_pred))
    print("f1_score: ", f1_score(y_test, y_pred))

---------Model evaluator---------
metrics for LogisticRegression(max_iter=1000)
precision_score:  0.7596153846153846
recall_score:  0.9875
f1_score:  0.8586956521739131
---------Model evaluator---------
metrics for SVC()
precision_score:  0.7619047619047619
recall_score:  1.0
f1_score:  0.8648648648648649
---------Model evaluator---------
metrics for DecisionTreeClassifier()
precision_score:  0.75
recall_score:  0.7875
f1_score:  0.7682926829268293
---------Model evaluator---------
metrics for RandomForestClassifier()
precision_score:  0.7524752475247525
recall_score:  0.95
f1_score:  0.8397790055248618
---------Model evaluator---------
metrics for GaussianNB()
precision_score:  0.7572815533980582
recall_score:  0.975
f1_score:  0.8524590163934426
---------Model evaluator---------
metrics for BernoulliNB()
precision_score:  0.7623762376237624
recall_score:  0.9625
f1_score:  0.850828729281768
---------Model evaluator---------
metrics for KNeighborsClassifier()
precision_score:  0.7378640776699029
recall_score:  0.95
f1_score:  0.8306010928961749
---------Model evaluator---------
metrics for AdaBoostClassifier()
precision_score:  0.7596153846153846
recall_score:  0.9875
f1_score:  0.8586956521739131

## We will proceed with Logistic Regression()

In [521]:
log_reg = LogisticRegression(max_iter=1000)

In [522]:
log_reg.fit(X, y)

c:\Aakif's personal\ML course Udemy\LoanPredictor\venv\Lib\site-packages\sklearn\linear_model\_logistic.py:406: ConvergenceWarning: lbfgs failed to converge after 1000 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=1000).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=1000)

In [523]:
test_df = pd.read_csv("../dataset/test_data.csv")

In [524]:
X_test = test_df.copy()

In [525]:
X_test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [526]:
X_test = X_test.drop('Loan_ID', axis=1)

In [527]:
X_test = pd.get_dummies(X_test, drop_first=True)

In [528]:
X_test.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban
0,5720,0,110.0,360.0,1.0,True,True,False,False,False,False,False,False,True
1,3076,1500,126.0,360.0,1.0,True,True,True,False,False,False,False,False,True
2,5000,1800,208.0,360.0,1.0,True,True,False,True,False,False,False,False,True
3,2340,2546,100.0,360.0,NaN,True,True,False,True,False,False,False,False,True
4,3276,0,78.0,360.0,1.0,True,False,False,False,False,True,False,False,True

In [529]:
X_test = X_test.reindex(columns=X.columns, fill_value=0)

In [530]:
X_test.head()

,Dependents,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Education_Graduate,Education_Not Graduate,Self_Employed_encoded,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,0,5720,0,110.0,360.0,1.0,0,True,0,True,0,False,0,0,False,True
1,0,3076,1500,126.0,360.0,1.0,0,True,0,True,0,False,0,0,False,True
2,0,5000,1800,208.0,360.0,1.0,0,True,0,True,0,False,0,0,False,True
3,0,2340,2546,100.0,360.0,NaN,0,True,0,True,0,False,0,0,False,True
4,0,3276,0,78.0,360.0,1.0,0,True,0,False,0,True,0,0,False,True

In [532]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 367 entries, 0 to 366
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Dependents               367 non-null    int64
 1   ApplicantIncome          367 non-null    int64
 2   CoapplicantIncome        367 non-null    int64
 3   LoanAmount               362 non-null    float64
 4   Loan_Amount_Term         361 non-null    float64
 5   Credit_History           338 non-null    float64
 6   Gender_Female            367 non-null    int64
 7   Gender_Male              367 non-null    bool
 8   Married_No               367 non-null    int64
 9   Married_Yes              367 non-null    bool
 10  Education_Graduate       367 non-null    int64
 11  Education_Not Graduate   367 non-null    bool
 12  Self_Employed_encoded    367 non-null    int64
 13  Property_Area_Rural      367 non-null    int64
 14  Property_Area_Semiurban  367 non-null    bool
 15  Property_Area_Urban      367 non-null    bool
dtypes: bool(5), float64(3), int64(8)
memory usage: 33.5 KB

In [537]:
X_test['LoanAmount'].value_counts()
X_test['LoanAmount'] = X_test['LoanAmount'].fillna(X_test['LoanAmount'].median())

In [540]:
X_test['Loan_Amount_Term'].value_counts()
X_test['Loan_Amount_Term'] = X_test['Loan_Amount_Term'].fillna(X_test['Loan_Amount_Term'].median())

In [544]:
X_test['Credit_History'].value_counts()
X_test['Credit_History'] = X_test['Credit_History'].fillna(X_test['Credit_History'].median())

In [545]:
X_test.isnull().sum()

Dependents                 0
ApplicantIncome            0
CoapplicantIncome          0
LoanAmount                 0
Loan_Amount_Term           0
Credit_History             0
Gender_Female              0
Gender_Male                0
Married_No                 0
Married_Yes                0
Education_Graduate         0
Education_Not Graduate     0
Self_Employed_encoded      0
Property_Area_Rural        0
Property_Area_Semiurban    0
Property_Area_Urban        0
dtype: int64

In [546]:
X_test = scaler.transform(X_test)

In [547]:
Xtest_predicted = log_reg.predict(X_test)

c:\Aakif's personal\ML course Udemy\LoanPredictor\venv\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [548]:
Xtest_predicted

array([1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [ ]:
submission = pd.DataFrame(
    'Loan_Status': Xtest_predicted
)

In [550]:
import pickle

In [553]:
with open ('../LoanPredictorApp/model.pkl', 'wb') as file:
    pickle.dump(log_reg, file)

In [554]:
with open('../LoanPredictorApp/scaler.pkl', 'wb') as file:
    pickle.dump(scaler, file)